* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    transition: all 0.4s linear;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    border: none;
    outline: none;
}
/* Start login */
.login {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.login > div {
    font-size: 50px;
    color: blue;
    margin: -20px 0 20px 0;
}
.inputs > label {
    cursor: pointer;
}
#checkstore {
    display: none;
}
#checkstore:checked ~ .login {
    display: none;
}
#checkstore:checked ~ .main,
#checkstore:checked ~ footer {
    display: flex;
}
/* End login */
.main {
    display: none;
    min-height: 100vh;
    margin: 0 10px;
    justify-content: space-between;
}
/* -----------tart Sidebar------------- */
.main .sidebar {
    width: 250px;
}
.main .sidebar h2::before,
.main .sidebar h2::after{
    position: absolute;
    content: "";
}
.main .sidebar h2::before{
    width: 150px;
    height: 50px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid black;
}
.main .sidebar h2::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -14px;
    left: -35px;
    background-color: #eee;
    border: 4px solid black;
    animation-name: fil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes fil {
    0% {
        transform: translate(0, 0);
    }
    38% {
        transform: translate(145px, 0);
    }
    50% {
        transform: translate(145px, -54px);
    }
    88% {
        transform: translate(-10px, -54px);
    }
    98% {
        transform: translate(-10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.sidebar .active {
    width: fit-content;
    background-color: #ccc;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .main {
        margin: 0 2px;
    }
    .main .sidebar {
        width: 70px;
    }
    .main .sidebar h2 {
        font-size: 20px;
    }
    .main .sidebar h2::before{
        width: 50px;
        height: 2px;
        border: none;
        background-color: black;
    }
    .main .sidebar h2::after{
        width: 8px;
        height: 8px;
        bottom: -10px;
        left: 10px;
        border: 2px solid black;
    }
    .main .sidebar ul li {
        padding: 0;
    }
    .main .sidebar ul li a {
        font-size: 7px;
        padding: 3px;
    }
    @keyframes fil {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(45px);
        }
        100% {
            transform: translateX(0);
        }
    }
}
/* -----------End Sidebar------------- */
/* -----------Start contant----------- */
.main .content {
    width: calc(100% - 260px);;
}
header img {
    padding: 2px;
}
.content .title h2::before,
.content .title h2::after {
    position: absolute;
    content: "";
    left: 20px;
    border-radius: 6px;
}
.content .title h2::before{
    width: 120px;
    height: 5px;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.4);
}
.content .title h2::after{
    width: 20px;
    height: 5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 120px;
    }
}
.box {
    height: 450px;
    transition: all 0.3s ease;
}
.box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px black;
}
.box .image {
    height: 280px;
}
.box .caption {
    height: 170px;
}
@media (max-width: 767px) {
    .box {
        height: 350px;
    }
    .box .image {
        height: 180px;
    }
    .box .caption {
        height: 170px;
    }
    .box .caption p {
        font-size: 18px;
    }
}
.box > div {
    border: 2px solid #dedede;
}
.price span {
    position: absolute;
    top: 0;
    left: 1px;
    color: #bb0401;
}
.sales-l {
    margin-right: 5px;
    border-radius: 6px;
}
.sales-r {
    margin-left: 5px;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .sales {
        display: flex;
        flex-direction: column;
    }
    .sales-l {
        margin-right: 0;
        margin-bottom: -10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .sales-r {
        margin-left: 0;
        margin-top: -10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.p-20 {
    cursor: pointer;
    z-index: 10;
}
.indicator {
    position: absolute;
    background-color: #aaa;
    border-radius: 6px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 9;
}
@media (min-width: 767px) {
    .about {
        width: 100%;
    }
    .labels {
        flex-direction: column;
        width: 20%;
    }
    .profile {
        width: 80%;
    }
    .indicator {
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    width: 95%;
    height: 55px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #whatsapp:checked ~ .labels .indicator {
        top: 70px;
    }
    #instagram:checked ~ .labels .indicator {
        top: 130px;
    }
    #youtube:checked ~ .labels .indicator {
        top: 190px;
    }
    #twitter:checked ~ .labels .indicator {
        top: 250px;
    }
    .about hr {
        border: none;
        width: 3px;
        height: 300px;
        background-image: linear-gradient(to bottom, blue, blue 20%, green 20%, green 40%, rgb(255, 0, 174) 40%, rgb(255, 0, 174) 60%, red 60%, red 80%, rgb(0, 187, 255) 80%);
    }
    .social::before,
    .social::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 100%;
        top: 0;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }
    .social::before {
        left: 40px;
        border-left:  2px solid grey;
    }
    .social::after {
        right: 40px;
        border-right:  2px solid grey;
    }
}
@media (max-width: 767px) {
    .about {
        flex-direction: column;
    }
    .labels i {
        font-size: 10px;
        margin-right: 0;
    }
    .labels span {
        font-size: 10px;
        margin-left: 0;
    }
    .labels .p-20 {
        padding: 5px;
        text-align: center;
    }
    .indicator {
        left: 0;
        top: 6px;
        width: 21%;
        height: 40px;
    }
    #whatsapp:checked ~ .labels .indicator {
        left: 55px;
    }
    #instagram:checked ~ .labels .indicator {
        left: 110px;
    }
    #youtube:checked ~ .labels .indicator {
        left: 160px;
    }
    #twitter:checked ~ .labels .indicator {
        left: 218px;
        width: 17%;
    }
    .social::before,
    .social::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 100%;
        top: 0;
    }
    .social::before {
        left: -20px;
        border-top: 2px solid grey;
        border-left: 2px solid grey;
    }
    .social::after {
        right: -20px;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;
    }
}
#whatsapp:checked ~ .p-10 .face,
#instagram:checked ~ .p-10 .face,
#youtube:checked ~ .p-10 .face,
#twitter:checked ~ .p-10 .face {
    display: none;
}
#whatsapp:checked ~ .p-10 .whats,
#instagram:checked ~ .p-10 .insta,
#youtube:checked ~ .p-10 .yout,
#twitter:checked ~ .p-10 .twit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social img:hover {
    box-shadow: 0 0 10px black;
}
@media (max-width: 767px) {
    .main .content {
        width: calc(100% - 75px);;
    }
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* -----------End contant----------- */